@keyframes gradient {
    0% { background-position: 0% 50%;}
    15% { background-position: 0% 100% }
    30% {background-position: 50% 100%;}
    45% {background-position: 50% 50%;}
    60% {background-position: 100% 50%;}
    75% {background-position: 100% 0%;}
    90% {background-position: 50% 0%;}
    100% {background-position: 50% 50%;}
}

@keyframes rotate {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(359deg);}
}

@keyframes fadeout {
    0% { opacity: 1; }
    66% { opacity: 1; }        
    100% { opacity: 0; }        
}

.fadeout {
    animation-name: fadeout;
    animation-duration: 3.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

body {
    font-size: calc(15px + 0.390625vw);
    background-color: lightsteelblue;
    background-image: radial-gradient( lightsteelblue, lightskyblue, lightblue, #eee);
    background-size: 150% 150%;
    animation: gradient 60s ease infinite;
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #666;
    background-attachment: scroll;
    background-clip: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    text-align: center;
    color: #666;
}
select {
    text-align: center;
}
.container {
    color: #333;
    height: auto;
}

header {
    background-color: white;
  border: 2px solid red;
  border-radius: 1vh;
  margin: 1vh;
  padding: 0.5vh;
}

.status {
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.status div {
    display: inline;
}

#error {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: lightsteelblue;
    color: #333;
    z-index: 9;
    padding: 30% 0;
}

.level_10, .level_9, .level_8 { 
    color: #fff;
    background-color: red;
 }
.level_7, .level_6, .level_5 { 
    color: black;
    background-color: orange;
}
.level_4, .level_3, .level_2 { 
    color: black;
    background-color: yellow;
}
.level_1 { 
    color: white;
    background-color: green;
 }

 .guage_10 {
    background-image: conic-gradient(
        at 50% 100%,
        yellow,
        45deg, red,
        90deg,#fff,
        91deg,#fff,
        269deg,#fff,
        270deg,green,
        315deg,yellow
    );
 }
 .guage_9 {
    background-image: conic-gradient(
        at 50% 100%,
        yellow,
        45deg, red,
        72deg,#fff,
        73deg,#fff,
        269deg,#fff,
        270deg,green,
        315deg,yellow
    );
 }
 .guage_8 {
    background-image: conic-gradient(
        at 50% 100%,
        yellow,
        45deg, red,
        54deg,#fff,
        53deg,#fff,
        269deg,#fff,
        270deg,green,
        315deg,yellow
    );
 }
 .guage_7 {
    background-image: conic-gradient(
        at 50% 100%,
        yellow,
        18deg, orange,
        36deg, orange,
        37deg,#fff,
        38deg,#fff,
        269deg,#fff,
        270deg,green,
        315deg,yellow
    );
 }
 .guage_6 {
    background-image: conic-gradient( 
        at 50% 100%, 
        yellow, 
        18deg, rgb(251, 194, 109), 
        19deg,#fff, 
        20deg, #fff,
        269deg,#fff, 
        270deg,green, 
        315deg,
        yellow 
    )
 }
 .guage_5 {
    background-image: conic-gradient( 
        at 50% 100%, 
        yellow, 
        1deg,#fff, 
        2deg,#fff, 
        270deg,green, 
        315deg,yellow 
    );
 }
 .guage_4 {
    background-image: conic-gradient(
        at 50% 100%,
        #fff,
        2deg,#fff,
        270deg,green,
        315deg,yellow,
        342deg,yellow,
        343deg,#fff,
        #fff
    );
 }
 .guage_3 {
    background-image: conic-gradient(
        at 50% 100%,
        #fff,
        2deg,#fff,
        270deg,green,
        305deg,yellow,
        322deg,yellow,
        33deg,#fff,
        #fff
    );
 }
 .guage_2 {
    background-image: conic-gradient(
        at 50% 100%,
        #fff,
        2deg,#fff,
        270deg,green,
        304deg,lightgreen,
        305deg,#fff,
        #fff
    );
 }
 .guage_1 {
    background-image: conic-gradient(
        at 50% 100%,
        #fff,
        2deg,#fff,
        270deg,green,
        286deg,lightgreen,
        287deg,#fff,
        #fff
    );
 }

 #nearest {
    display: none;
 }